nav.navbar.navbar-toggleable-md.fixed-top.navbar-inverse.bg-primary
  button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbar", aria-controls="navbar", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .container
    #navbar.collapse.navbar-collapse
      a.navbar-brand(routerLink="/dashboard") My Daily WoW
      ul.navbar-nav.mr-auto
        li.nav-item(routerLinkActive="active")
          a.nav-link(routerLink="/dashboard") Dashboard
        li.nav-item
          a.nav-link(href="#") Achievements
        li.nav-item
          a.nav-link(href="#") Mounts &amp; Pets
        li.nav-item(routerLinkActive="active")
          a.nav-link(routerLink="/tmog-sets") Sets
      form.form-inline(role="search", (ngSubmit)="performSearch()", novalidate)
        input#search.form-control.mr-sm-2(
          type="text",
          placeholder="Search",
          [(ngModel)]="model.searchTerm",
          [ngModelOptions]="{standalone: true}"
        )
        button.invisible(type="submit")
