doctype html
html
  head
    base(href="/")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // link(rel="stylesheet" href="external/bootstrap/dist/css/bootstrap.min.css")
    // link(rel="stylesheet" href="external/css/slate.theme.css")
    // link(rel="stylesheet" href="css/custom.css")
    title My Daily WoW
    script(src="//wow.zamimg.com/widgets/power.js")
    script var wowhead_tooltips = { "colorlinks": true, "iconizelinks": false, "renamelinks": false }

  body
    app-root
