doctype html
html
  head
    base(href="/tmog/")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="external/css/slate.theme.css")
    link(rel="stylesheet" href="css/custom.css")
    title My Daily WoW

    script(src="external/zone.js/dist/zone.min.js")
    script(src="external/reflect-metadata/Reflect.js")
    script(src="external/systemjs/dist/system.js")
    script(src="app/systemjs.config.js")
    script(src="//wow.zamimg.com/widgets/power.js")
    script var wowhead_tooltips = { "colorlinks": true, "iconizelinks": false, "renamelinks": false }
    script System.import('app').catch(function(err) { console.error(err); });

  body
    app Loading...
