/* You can add global styles to this file, and also import other style files */
@import url("assets/css/darkly.theme.css");
@import url("assets/css/font-awesome.min.css");

html {
  overflow-y: scroll;
}

body {
  font-size: 0.875rem;
}

a {
  &:focus, &:hover {
    text-decoration: none;
  }
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}



.card.page-title {
  margin-bottom: 1rem;

  .btn:first-of-type {
    margin-left: 1rem;
  }

  .card-body {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
    }
  }
}

.card-header {
  border-bottom: none; // removes a nasty bug in chrome
}

.table {
  margin-bottom: 0;

  thead th {
    border-top: none;
    border-bottom: 1px solid var(--secondary);
  }

  td {
    vertical-align: middle;
    border: none;
    padding: 0.35rem;
  }

  th, td {
    a {
      color: var(--white);
    }
  }
}
