template(ngbModalContainer)
.well
  h4 Sets
.alert.alert-danger(*ngIf="error")
  strong {{error.shortText}}
  p {{error.message}}
div(*ngIf="!error")
  .row
    .col-md-12
      button.btn.btn-default.btn-sm((click)="newSet(content)") New Set
  .row
    .col-md-12
      table.table
        thead
          tr
            th #
            th Name
            th Completion
            th
        tbody
          tr(*ngFor="let tmogSet of tmogSets", [ngClass]="{ 'success': isSetComplete(tmogSet), 'warning': isSetAlmostComplete(tmogSet) }")
            td {{tmogSet.id}}
            td
              a(rel="transmog-set={{tmogSet.id}}", [routerLink]="['/tmog-set', tmogSet.id]", (click)="dismissTooltip()") {{tmogSet.name}}
            td {{tmogSet.completedSlots}}/{{tmogSet.totalSlots}}
            td
              a.btn.btn-xs.btn-danger((click)="removeSet(tmogSet.id)")
                span.glyphicon.glyphicon-remove
