.group
    padding-left: 10px;

table
    transition: height 2s

td
    width: 50%;

.table>thead>tr>th /* required to override bootstrap */
    vertical-align: middle;

th>.btn
    input[type="checkbox"]
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;

th.collapsed
    width: 150px;
