.card.card-outline-secondary.page-title
  .card-body
    h5
      a(href="{{'http://www.wowhead.com/transmog-set=' + model.id}}", target="_blank") {{model.name}}
      button.btn.btn-sm.btn-primary((click)="back()", type="button") Back
      button.btn.btn-sm.btn-primary([routerLink]="['/tracking/gear']", [queryParams]="{ setId: model.id }", type="button") Switch to tracking view
ngb-accordion(#slots="ngbAccordion", activeIds="{{getIncompleteSlots()}}", [destroyOnHide]="false", (panelChange)="onSlotChange($event)")
  ngb-panel(*ngFor="let slot of model.slots", [id]="slot.slotNumber.toString()", [type]="slot.complete ? 'success': ''")
    ng-template(ngbPanelTitle)
      h6.mb-0.slot-name {{slot.slotName}}
        span.completed-item(*ngIf="slot.complete") {{slot.items[0]?.name}}
    ng-template(ngbPanelContent)
      table.table.set-items
        tbody
          tr(*ngFor="let item of slot.items")
            td.first([ngClass]="'q' + item.quality")
              a(href="{{'http://www.wowhead.com/item=' + item.id}}", target="_blank") {{item.name}}
            td.middle
              span.text-muted(*ngIf="!item.source") Unavailable
              span(*ngIf="item.source") {{item.source.type}}
            td.last
              div(*ngIf="item.source && item.source.zone")
                a(href="{{'http://www.wowhead.com/zone=' + item.source.zone.id}}", target="_blank") {{item.source.zone.name}}&nbsp;
                  small([ngClass]="getDropLevelClass(item.source.dropLevel)") {{item.source.dropLevelName}}
                span(*ngIf="item.source.description") &nbsp;&nbsp;-&nbsp;&nbsp;
                  a(href="{{'http://www.wowhead.com/' + item.source.subType + '=' + item.source.wowheadId}}", target="_blank")
                    small {{item.source.description}}
              div(*ngIf="!item.source?.zone && item.source?.description")
                a(href="{{'http://www.wowhead.com/' + item.source.subType + '=' + item.source.wowheadId}}", target="_blank") {{item.source.description}}

//ul.list-group
  li.list-group-item(*ngFor="let slot of model.slots", [class.completed]="slot.complete")
    label.btn.btn-secondary([class.btn-success]="slot.complete")
      input(#completed, type="checkbox", [ngModel]="slot.complete", (change)="updateSlot(slot.name, completed.checked)")
      | {{slot.name}}
    span.completed-item(*ngIf="slot.complete", [class.completed]="slot.complete") {{slot.items[0]?.name}}
    table.table(*ngIf="!slot.complete")
      tbody
        tr(*ngFor="let item of slot.items")
          td.first([ngClass]="'q' + item.quality")
            a(href="{{'http://www.wowhead.com/item=' + item.id}}", target="_blank") {{item.name}}
          td.middle
            span.text-muted(*ngIf="!item.source") Unavailable
            span(*ngIf="item.source") {{item.source.type}}
          td.last
            div(*ngIf="item.source && item.source.zone")
              a(href="{{'http://www.wowhead.com/zone=' + item.source.zone.id}}", target="_blank") {{item.source.zone.name}}&nbsp;
                small([ngClass]="getDropLevelClass(item.source.dropLevel)") {{item.source.dropLevelName}}
              span(*ngIf="item.source.description") &nbsp;&nbsp;-&nbsp;&nbsp;
                a(href="{{'http://www.wowhead.com/' + item.source.subType + '=' + item.source.wowheadId}}", target="_blank")
                  small {{item.source.description}}
            div(*ngIf="!item.source?.zone && item.source?.description")
              a(href="{{'http://www.wowhead.com/' + item.source.subType + '=' + item.source.wowheadId}}", target="_blank") {{item.source.description}}
