.card.card-inverse.card-primary.text-xs-center.page-title
  .card-body
    h4 Search results
table.table(*ngIf="hasSearchResults | async")
  thead
    tr
      th Item name
      th Set
  tbody
    tr(*ngFor="let item of model")
      td([ngClass]="'q' + item.quality")
        a(href="{{'http://www.wowhead.com/item=' + item.id}}", target="_blank") {{item.name}}
      td
        div(*ngFor="let set of item.sets")
          a(rel="transmog-set={{set.id}}", [routerLink]="['/tmog-set', set.id]", (click)="dismissTooltip()") {{set.name}}
        span.text-warning(*ngIf="!item.sets|| item.sets.length === 0") Item does not belong to any tracked set.
.card.card-outline-warning(*ngIf="(hasSearchResults | async) === false")
  .card-body
    h2 Could not find anything matching&nbsp;
      em {{searchTerm}}
    p Continue search in&nbsp;
      em
        a(href="{{'http://www.wowhead.com/search?q=' + searchTerm}}") wowhead.com
