.card.card-outline-secondary.page-title
  .card-body
    h5 Tracked items by region
      button.btn.btn-sm.btn-primary((click)="goBack()", type="button") Back
.card.card-outline-warning(*ngIf="(hasRegions | async) === false")
  .card-body
    h4
      em Looks like we don't have any items to show!
.results(*ngIf="hasRegions | async")
  .btn-group(role="group", aria-label="Collapse/Expand regions")
    button.btn.btn-sm.btn-secondary.mb-1(type="button", (click)="expandAllPanels()", title="Expand all regions")
      i.fa.fa-plus(aria-hidden="true")
    button.btn.btn-sm.btn-secondary.mb-1(type="button", (click)="collapseAllPanels()", title="Collapse all regions")
      i.fa.fa-minus(aria-hidden="true")
  ngb-accordion(activeIds="{{getAllDOMIds(regions, 'region')}}", [destroyOnHide]="false", (panelChange)="onPanelChange($event)")
    ngb-panel(*ngFor="let region of regions", [id]="getDOMId(region, 'region')")
      ng-template(ngbPanelTitle)
        h6.mb-0.region-name.can-filter {{region.name}}
          a.filter-icon.ml-1([routerLink]="['./']", [queryParams]="{regionId: region.id}")
            i.fa.fa-filter
      ng-template(ngbPanelContent)
        ngb-accordion(activeIds="{{getAllDOMIds(region.zones, 'zone')}}", [destroyOnHide]="false", (panelChange)="onPanelChange($event)")
          ngb-panel(*ngFor="let zone of region.zones", [id]="getDOMId(zone, 'zone')")
            ng-template(ngbPanelTitle)
              .zone-name.can-filter
                | {{zone.name}}
                small.ml-2.font-italic([ngClass]="getZoneDifficultyClass(zone.difficulty)") {{getZoneDifficultyName(zone.difficulty)}}
                a.filter-icon.ml-1([routerLink]="['./']", [queryParams]="{zoneId: zone.id}")
                  i.fa.fa-filter
            ng-template(ngbPanelContent)
              table.table
                tbody
                  tr(*ngFor="let item of zone.items")
                    td.first([ngClass]="'q' + item.itemQuality")
                      a(href="{{'http://www.wowhead.com/item=' + item.itemId}}", target="_blank") {{item.itemName}}
                    td.middle
                      span(*ngIf="item.source;then source else bossDrop")
                      ng-template(#source)
                        a(href="{{'http://www.wowhead.com/' + item.sourceSubType + '=' + item.sourceId}}", target="_blank") {{item.source}}
                      ng-template(#bossDrop) Boss Drop
                    td.last.can-filter
                      a(rel="transmog-set={{item.setId}}", [routerLink]="['/tmog-set', item.setId]", (click)="dismissTooltip()") {{item.setName}}
                      a.filter-icon.ml-1([routerLink]="['./']", [queryParams]="{setId: item.setId}")
                        i.fa.fa-filter

