tr
  td([class.collapsed]="slot.complete")
    label.btn.btn-secondary([class.btn-success]="slot.complete")
      input(#completed, type="checkbox", [ngModel]="slot.complete", (change)="updateSlot(slot.name, completed.checked)")
      | {{slot.name}}
    span {{slot.completed}}
  td(colspan="2")
    span(*ngIf="slot.complete") {{slot.items[0]?.name}}
ng-container(*ngIf="!slot.complete")
  tr(*ngFor="let item of slot.items")
    td.first([ngClass]="'q' + item.quality")
      a(href="{{'http://www.wowhead.com/item=' + item.id}}", target="_blank") {{item.name}}
    td.middle
      span.text-muted(*ngIf="!item.source") Unavailable
      span(*ngIf="item.source") {{item.source.type}}
    td.last
      div(*ngIf="item.source && item.source.zone")
        a(href="{{'http://www.wowhead.com/zone=' + item.source.zone.id}}", target="_blank") {{item.source.zone.name}} {{item.source.dropLevel}}
        span(*ngIf="item.source.description") &nbsp;&nbsp;-&nbsp;&nbsp;
          a(href="{{'http://www.wowhead.com/' + item.source.subType + '=' + item.source.wowheadId}}", target="_blank")
            small {{item.source.description}}
      div(*ngIf="!item.source?.zone && item.source?.description")
        a(href="{{'http://www.wowhead.com/' + item.source.subType + '=' + item.source.wowheadId}}", target="_blank") {{item.source.description}}
