ng-template(ngbModalContainer)
.well
  h4 Sets
    button.btn.btn-success.btn-sm((click)="newSet(content)")
      i.fa.fa-plus(aria-hidden="true", title="Add new set")
.alert.alert-danger(*ngIf="error")
  strong {{error.shortText}}
  p {{error.message}}
div(*ngIf="!error")
  .row
    .col-md-12
      table.table
        thead
          tr
            th #
            th Name
            th Completion
            th
        tbody
          tr(*ngFor="let tmogSet of tmogSets", [ngClass]="{ 'table-success': isSetComplete(tmogSet), 'table-warning': isSetAlmostComplete(tmogSet) }")
            td {{tmogSet.id}}
            td
              a(rel="transmog-set={{tmogSet.id}}", [routerLink]="['/tmog-set', tmogSet.id]", (click)="dismissTooltip()") {{tmogSet.name}}
            td {{tmogSet.completedSlots}}/{{tmogSet.totalSlots}}
            td
              button.btn.btn-danger.btn-sm(type="button", (click)="removeSet(tmogSet.id)")
                i.fa.fa-times(aria-hidden="true", title="Remove Set")
