template(ngbModalContainer)
.well
    h4 Sets
.row
    .col-md-12
        button.btn.btn-default.btn-sm((click)="newSet(content)") New Set
.row
    .col-md-12
        table.table
          thead
            tr
              th #
              th Name
              th Completion
          tbody
            tr(*ngFor="let tmogSet of tmogSets", [ngClass]="{ 'success': isSetComplete(tmogSet), 'warning': isSetAlmostComplete(tmogSet) }")
              td {{tmogSet.id}}
              td
                a(rel="transmog-set={{tmogSet.id}}" href) {{tmogSet.name}}
              td {{tmogSet.completedSlots}}/{{tmogSet.totalSlots}}