.well
  h4
    a(href="{{'http://www.wowhead.com/transmog-set=' + model.id}}", target="_blank") {{model.name}}
table.table(*ngFor="let slot of model.slots")
  thead
    tr
      th([class.collapsed]="slot.complete")
        label.btn.btn-default([class.btn-success]="slot.complete")
          input(#completed, type="checkbox", [ngModel]="slot.complete", (change)="updateSlot(slot.name, completed.checked)")
          | {{slot.name}}
        span {{slot.completed}}
      th(colspan="2")
        span(*ngIf="slot.complete") {{slot.items[0]?.name}}
  tbody(*ngIf="!slot.complete")
    tr(*ngFor="let item of slot.items")
      td.first([ngClass]="'q' + item.quality")
        a(href="{{'http://www.wowhead.com/item=' + item.id}}", target="_blank") {{item.name}}
      td.middle
        span.text-muted(*ngIf="!item.source") Unavailable
        span(*ngIf="item.source") {{item.source.type}}
      td.last
        div(*ngIf="item.source && item.source.zone")
          a(href="{{'http://www.wowhead.com/zone=' + item.source.zone.id}}", target="_blank") {{item.source.zone.name}}
          span(*ngIf="item.source.description") &nbsp;&nbsp;-&nbsp;&nbsp;
            a(href="{{'http://www.wowhead.com/' + item.source.subType + '=' + item.source.wowheadId}}", target="_blank")
              small {{item.source.description}}
        div(*ngIf="!item.source?.zone && item.source?.description")
          a(href="{{'http://www.wowhead.com/' + item.source.subType + '=' + item.source.wowheadId}}", target="_blank") {{item.source.description}}
